body{margin:0;padding:0;background:#ffe;font-size:14px;font-family:'微软雅黑','宋体',sans-serif;color:#231F20;overflow:auto}
@font-face {font-family: 'ttc2';src: url('./2.ttf');}
/*a {color:#000;font-size:14px;}*/
#area{z-index:999;position:fixed;width:160px;right:-160px;top:27%;}
#small_menu ul {list-style: none;}
#area #on{position: absolute;top: 17%;right: 100%;width: 30px;height: 50px;cursor: pointer;border-radius: 15px;background-color: rgba(13, 143, 143, 0.2);}
#area #on p{font-size:30px;text-align:center;margin-top:3px;color:#01E290;}
#area #small_menu {width:100%;}
#area #small_menu ul li {width:100%;height: 44px;text-align:left;background-color: rgba(2, 27, 38, 0.62);border-top: 1px solid #043B46;line-height: 44px;}
#area #small_menu ul li a{text-decoration: none;margin-left:30px;color: #bfbfbf;font-size:16px;font-family:'ttc2';}
#area #small_menu li.active {width: 156px; background-color: rgba(2, 27, 38, 0.87);border-left: 4px solid #00ffff;border-top: 0px;}
#area #small_menu li.active a{color: #00ffff;}
#area #small_menu ul li:hover {width: 156px;background-color: rgba(2, 27, 38, 0.87);border-left: 4px solid #00ffff;}
#area #small_menu ul li:hover a{color: #00ffff; } 
#main{width:100%;}
#wrap{position:relative;margin:0 auto;width:1100px;height:680px;margin-top:10px;}
#text{width:450px;height:425px;left:60px;top:50px;position:absolute;}
#code{display:none;font-size:16px;}
#clock-box {position:absolute;left:60px;top:550px;font-size:28px;display:none;}
#clock-box a {font-size:28px;text-decoration:none;}
#clock{margin-left:48px;}
#clock .digit {font-size:64px;}
#canvas{margin:0 auto;width:1100px;height:680px;}
#error{margin:0 auto;text-align:center;margin-top:60px;display:none;}
#ememe{font-family: 'ttc2';width:1080px;top:550px;font-size:16px;display:none;margin:0 auto;}
#version{width:1080px;font-size:16px;margin:0 auto;display:none;}
#BGMChanger{width:1080px;font-size:16px;margin:0 auto;display:none;}
#BGMButton{width:1080px;font-size:16px;margin:0 auto;display:none;}

.hand{cursor:pointer;}
.say{font-family:'ttc2';margin-left:5px;}
.space{margin-right:150px;}
.pause {background-position: 0 bottom;}